<main class="pantalla-resumen">
    <a class="volver-inicio" href="/">Inicio</a>

    <h2>Resumen de tu compra</h2>

    <div *ngFor="let item of carrito" class="producto-box">
        <div class="producto-contenido">
            <img [src]="item.producto.fotoUrl" [alt]="item.producto.nombre" class="producto-img" />

            <div class="producto-info">
                <h3>{{ item.producto.nombre }}</h3>
                <p>Precio unitario: <strong>{{ item.producto.precio }} €</strong></p>
                <p>Cantidad: <strong>{{ item.cantidad }}</strong></p>
                <p>Subtotal: <strong>{{ item.producto.precio * item.cantidad }} €</strong></p>
            </div>
        </div>
        <hr />
    </div>

    <h3 class="total">Total a pagar: <span>{{ total }} €</span></h3>

    <button class="btn-comprar" (click)="comprar()">Comprar</button>
</main>