<main>

    <div *ngIf="usuarioId; else noRegistrado">

        <div *ngIf="!estaAfiliado(); else yaAfiliado">

            <div class="nuevoafiliado">

                <h3>Formulario de afiliación</h3>


                <form (ngSubmit)="afiliar()" #form="ngForm">
                    <label>Nombre completo:</label>
                    <input type="text" [(ngModel)]="hermano.nombreCompleto" name="nombreCompleto" required />

                    <label>DNI:</label>
                    <input type="text" [(ngModel)]="hermano.dni" name="dni" required />

                    <label>Fecha de nacimiento:</label>
                    <input type="date" [(ngModel)]="hermano.fechaNacimiento" name="fechaNacimiento" required />

                    <label>Domiciliación bancaria:</label>
                    <input type="text" [(ngModel)]="hermano.domiciliacionBancaria" name="domiciliacionBancaria"
                        required />

                    <button type="submit">Afiliarse</button>
                    <p *ngIf="error">{{ error }}</p>
                </form>
            </div>
            <div class="vincularafiliado">

                <h3>Vincular Hermano Existente</h3>
                <div>
                    <label for="numeroHermano">Número de Hermano:</label>
                    <input id="numeroHermano" [(ngModel)]="numeroHermano" />

                    <label for="dniHermano">DNI:</label>
                    <input id="dniHermano" [(ngModel)]="dniHermano" type="text" />

                    <button (click)="vincularHermanoExistente()">Vincular Hermano</button>
                </div>
                <p *ngIf="errorVincular" style="color: red;">{{ errorVincular }}</p>
            </div>
        </div>

        <p *ngIf="exito">{{ exito }}</p>

        <p *ngIf="exitoVincular" style="color: green;">{{ exitoVincular }}</p>

        <ng-template #yaAfiliado>
            <p class="mensaje">Ya estás afiliado a la hermandad.</p>
        </ng-template>

    </div>

    <ng-template #noRegistrado>
        <p class="mensaje">Debes estar registrado para afiliarte.</p>
    </ng-template>
</main>