<main>
    <a href="/">
        <p>Inicio</p>
    </a>

    <!-- Formulario de Registro -->
    <div class="form">
        <form (ngSubmit)="registrar()" #form="ngForm" class="registro">
            <h2>Registro</h2>
            <label>Nombre de usuario:</label>
            <input type="text" name="nombreUsuario" [(ngModel)]="nuevoUsuario.nombreUsuario" required />
            <br />

            <label>Email:</label>
            <input type="email" name="email" [(ngModel)]="nuevoUsuario.email" required />
            <br />

            <label>Contraseña:</label>
            <input type="password" name="contrasenya" [(ngModel)]="nuevoUsuario.contrasenya" required />
            <br />

            <button type="submit">Registrarse</button>

            <p *ngIf="error">{{ error }}</p>
            <p *ngIf="exito">{{ exito }}</p>
        </form>
    </div>

    <!-- Formulario de Inicio de Sesión -->
    <div class="form">
        <form (ngSubmit)="iniciarSesion()" #formLogin="ngForm" class="iniciosesion">
            <h2>Iniciar sesión</h2>
            <label>Nombre de usuario o Email:</label>
            <input type="text" name="login" [(ngModel)]="loginUsuario.login" required />
            <br />

            <label>Contraseña:</label>
            <input type="password" name="contrasenyaLogin" [(ngModel)]="loginUsuario.contrasenya" required />
            <br />

            <button type="submit">Iniciar sesión</button>

            <p *ngIf="loginError">{{ loginError }}</p>
            <p *ngIf="loginExito">{{ loginExito }}</p>

        </form>
    </div>

</main>