<main class="pantalla-acceso">

    <a class="volver-inicio" href="/">Inicio</a>

    <img src="svg/logo-r.svg" alt="Logo Hermandad" class="logo-hermandad" />

    <div class="tabs-selector">
        <button (click)="mostrarRegistro = false" [class.active]="!mostrarRegistro">Iniciar sesión</button>
        <button (click)="mostrarRegistro = true" [class.active]="mostrarRegistro">Registrarse</button>
    </div>

    <div class="form-container">

        <form *ngIf="mostrarRegistro" (ngSubmit)="registrar()" #form="ngForm" class="formulario">
            <h2>Registro</h2>

            <label>Nombre de usuario:</label>
            <input type="text" name="nombreUsuario" [(ngModel)]="nuevoUsuario.nombreUsuario" required />

            <label>Email:</label>
            <input type="email" name="email" [(ngModel)]="nuevoUsuario.email" required />

            <label>Contraseña:</label>
            <input type="password" name="contrasenya" [(ngModel)]="nuevoUsuario.contrasenya" required />

            <button type="submit">Registrarse</button>

            <p class="mensaje-exito" *ngIf="exito">{{ exito }}</p>
            <p class="mensaje-error" *ngIf="error">{{ error }}</p>
        </form>

        <form *ngIf="!mostrarRegistro" (ngSubmit)="iniciarSesion()" #formLogin="ngForm" class="formulario">
            <h2>Iniciar sesión</h2>

            <label>Nombre de usuario o Email:</label>
            <input type="text" name="login" [(ngModel)]="loginUsuario.login" required />

            <label>Contraseña:</label>
            <input type="password" name="contrasenyaLogin" [(ngModel)]="loginUsuario.contrasenya" required />

            <button type="submit">Iniciar sesión</button>

            <p class="mensaje-exito" *ngIf="loginExito">{{ loginExito }}</p>
            <p class="mensaje-error" *ngIf="loginError">{{ loginError }}</p>
        </form>
    </div>
</main>