<main>
    <header class="header">

        <div class="left">
            <div class="logo">
                <img src="svg/logo-d.svg" alt="Logo" />
            </div>
        </div>

        <nav class="navbar">
            <button routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">Inicio</button>
            <button routerLink="/afiliacion" routerLinkActive="activo">Afiliación</button>
            <button routerLink="/cuartelillo" routerLinkActive="activo">Cuartelillo</button>
            <button routerLink="/noticia" routerLinkActive="activo">Noticias</button>
            <button routerLink="/tienda" routerLinkActive="activo">Tienda</button>
        </nav>

        <div class="right zona-usuario">

            <div class="perfil" *ngIf="hayUsuario">
                <a href="/perfil">
                    <img src="/png/usuario.png" alt="usuario" />
                    <p>{{ obtenerNombreUsuario() }}</p>
                </a>
            </div>

            <div class="sesion">
                <a *ngIf="esRol8" href="/gestionrol">Gestionar roles</a>
                <a *ngIf="haySesion()" href="/historial-compras">Historial de compras</a>
                <a *ngIf="!haySesion()" href="/acceso">Registro</a>
            </div>

            <div class="notificaciones" *ngIf="haySesion()">
                <button class="btn-noti" (click)="toggleNotificaciones()">
                    <img src="png/noti.png" alt="Notificaciones" />
                </button>

                <div class="popup-notificaciones" *ngIf="mostrarNotificaciones" tabindex="0"
                    (clickOutside)="cerrarNotificaciones()">
                    <div class="popup-header">
                        <h4>Notificaciones</h4>
                        <button class="cerrar-btn" (click)="cerrarNotificaciones()">X</button>
                    </div>
                    <ul>
                        <li *ngFor="let notif of notificaciones">
                            <strong>{{ notif.tituloNoticia || 'Cargando...' }}</strong><br />
                            <small>{{ notif.tipoNoticia }}</small>
                        </li>
                        <p *ngIf="notificaciones.length === 0">No tienes notificaciones.</p>
                    </ul>
                </div>
            </div>

        </div>

    </header>


    <section class="app">
        <router-outlet></router-outlet>
    </section>

    <div class="cerrarsesion">
        <button *ngIf="haySesion()" (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
</main>