body {
    padding: 0;
    margin: 0;
    background-color: #FDF8F2;
    font-family: "Roboto", sans-serif;
}

* {
    font-family: "Roboto", sans-serif;

}


/* | Elemento            | Color                    | Hex       |
   | ------------------- | ------------------------ | --------- |
   | Fondo principal     | Blanco marfil            | `#FDF8F2` |
   | Color principal     | Burdeos (túnica)         | `#6B1E1E` |
   | Color secundario    | Oro viejo (bordados)     | `#C9A85C` |
   | Detalles terciarios | Azul mariano profundo    | `#1B1F5A` |
   | Texto principal     | Gris oscuro / negro      | `#2B2B2B` |
   | Fondo alternativo   | Gris claro / sepia suave | `#EFE9E1` | */